<div class="backdrop is-open">
  <div class="modal-window">
    <button class="modal-close" type="button">
      ❌
      <!-- <svg class="modal-icon-close">
        <use href=""></use>
      </svg> -->
    </button>
    <div class="modal-wrapper">
      <!-- <img class="modal-img-book" src="../img/Rectangle 13.png" alt="book" />
      <ul class="modal-description-list">
        <li><p class="modal-description-list-title">hello beutiful</p></li>
        <li>
          <p class="modal-description-list-subtitle"></p>
          Ann Napolitano
        </li>
        <li>
          <p class="modal-description-list-text">
            In a homage to Louisa May Alcott's "Little Women," a young man's
            dark past resurfaces as he gets to the know the family of his
            college sweetheart.
          </p>
        </li>
      </ul> -->
    </div>
    <ul class="modal-icons-list">
      <!-- <li class="modal-icons-wrapper-1">
        <a class="modal-icon" href="#"></a>
      </li>
      <li class="modal-icons-wrapper-2">
        <a class="modal-icon" href="#"></a>
      </li> -->
    </ul>
    <button class="modal-btn-add">add to shopping list</button>
    <!-- <button class="modal-btn-remove">remove from the shopping list</button>
    <p class="modal-text-congratulations">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button "Remove from the shopping list".
    </p> -->
  </div>
</div>
