<div class="cart">
  <div class="cart-empty is-hidden">
    <p class="cart-empty-msg">
      This page is empty, add some books and proceed to order.
    </p>
    <picture class="cart-empty-img">
      <source
        srcset="
          ../img/shoppinglist-empty-desk.png    1x,
          ../img/shoppinglist-empty-desk-2x.png 2x
        "
        media="(min-width: 1440px)"
        type="image/png"
      />
      <source
        srcset="
          ../img/shoppinglist-empty-tab.png    1x,
          ../img/shoppinglist-empty-tab-2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="
          ../img/shoppinglist-empty-mob.png    1x,
          ../img/shoppinglist-empty-mob-2x.png 2x
        "
        media="(min-width: 365px)"
        type="image/png"
      />
      <img
        class="cart-empty-img"
        src="../img/shoppinglist-empty-mob.png"
        alt="shopping cart empty"
        height="265"
        width="198"
      />
    </picture>
  </div>
  <ul class="cart-list"></ul>
  <ul class="pagination-list"></ul>
</div>
