<div class="slider-container">
  <div class="slider-suport-title">
    <p class="slider-p">Support Ukraine</p>
    <img src="./img/CharityLogos/Gerb-2x.png" alt="Герб" width="20" height="32" />
  </div>
  <div class="slider">
    <div class="slider-line">
      <ol class="slider-ol">
        <li class="slider-li">
          <a href="https://www.savethechildren.ca/" target="_blank"><img src="./img/CharityLogos/savethechildren-2x.png"
              alt="img" class="support-image" width="129" height="32" />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://www.projecthope.org/" target="_blank">
            <img src="./img/CharityLogos/hope-2x.png" alt="img" class="support-image" width="62" height="32" />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://internationalmedicalcorps.org/" target="_blank">
            <img src="./img/CharityLogos/medicalcorps-2x.png" alt="img" class="support-image" width="103" height="32" />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://www.razomforukraine.org/" target="_blank">
            <img src="./img/CharityLogos/razom-2x.png" alt="img" class="support-image" width="82" height="32" />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://www.actionagainsthunger.org/" target="_blank">
            <img src="./img/CharityLogos/aah-2x.png" alt="img" class="support-image" width="55" height="32" />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://prytulafoundation.org/" target="_blank">
            <img src="./img/CharityLogos/prytula-2x.png" alt="img" class="support-image" width="115" height="32" />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://www.msf.org/" target="_blank">
            <img src="./img/CharityLogos/MSF-2x.png" alt="img" class="support-image" width="94" height="32" />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://www.wvi.org/" target="_blank">
            <img src="./img/CharityLogos/MSF-2x.png" alt="img" class="support-image" width="85" height="30" />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://u24.gov.ua/" target="_blank">
            <img src="./img/CharityLogos/united24-2x.png" alt="img" class="support-image" width="109" height="10" />
          </a>
        </li>
      </ol>
    </div>
  </div>
  <button class="slider-button-scroll">
    <svg class="slider-arrow-icon">
      <use class="slider-button-arrow" href="./img/symbol-defs.svg#icon-Vector-down1-1"></use>
    </svg>
  </button>
</div>