<div class="slider-container">
  <div class="slider-suport-title">
    <p class="slider-p">Support Ukraine</p>
    <img
      srcset="
        ./img/CharityLogos/Gerb-1x-min.png 1x,
        ./img/CharityLogos/Gerb-2x-min.png 2x
      "
      alt="Герб"
      width="20"
      height="32"
    />
  </div>
  <div class="slider">
    <div class="slider-line">
      <ol class="slider-ol">
        <li class="slider-li">
          <a href="https://www.savethechildren.ca/" target="_blank"
            ><img
              srcset="
                ./img/CharityLogos/savethechildren-1x-min.png 1x,
                ./img/CharityLogos/savethechildren-2x-min.png 2x
              "
              alt="savethechildren"
              class="support-image"
              width="129"
              height="32"
            />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://www.projecthope.org/" target="_blank">
            <img
              srcset="
                ./img/CharityLogos/hope-1x-min.png 1x,
                ./img/CharityLogos/hope-2x-min.png 2x
              "
              alt="projecthope"
              class="support-image"
              width="62"
              height="32"
            />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://internationalmedicalcorps.org/" target="_blank">
            <img
              srcset="
                ./img/CharityLogos/medicalcorps-1x-min.png 1x,
                ./img/CharityLogos/medicalcorps-2x-min.png 2x
              "
              alt="medicalcorps"
              class="support-image"
              width="103"
              height="32"
            />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://www.razomforukraine.org/" target="_blank">
            <img
              srcset="
                ./img/CharityLogos/razom-1x-min.png 1x,
                ./img/CharityLogos/razom-2x-min.png 2x
              "
              alt="razomforUkraine"
              class="support-image"
              width="82"
              height="32"
            />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://www.actionagainsthunger.org/" target="_blank">
            <img
              srcset="
                ./img/CharityLogos/aah-1x-min.png 1x,
                ./img/CharityLogos/aah-2x-min.png 2x
              "
              alt="againsthunger"
              class="support-image"
              width="55"
              height="32"
            />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://prytulafoundation.org/" target="_blank">
            <img
              srcset="
                ./img/CharityLogos/prytula-1x-min.png 1x,
                ./img/CharityLogos/prytula-2x-min.png 2x
              "
              alt="prytula"
              class="support-image"
              width="115"
              height="32"
            />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://www.msf.org/" target="_blank">
            <img
              srcset="
                ./img/CharityLogos/MSF-1x-min.png 1x,
                ./img/CharityLogos/MSF-2x-min.png 2x
              "
              alt="msf"
              class="support-image"
              width="94"
              height="32"
            />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://www.wvi.org/" target="_blank">
            <img
              srcset="
                ./img/CharityLogos/worldvision-1x-min.png 1x,
                ./img/CharityLogos/worldvision-2x-min.png 2x
              "
              alt="worldvision"
              class="support-image"
              width="85"
              height="30"
            />
          </a>
        </li>
        <li class="slider-li">
          <a href="https://u24.gov.ua/" target="_blank">
            <img
              srcset="
                ./img/CharityLogos/united24-1x-min.png 1x,
                ./img/CharityLogos/united24-2x-min.png 2x
              "
              alt="u24"
              class="support-image"
              width="109"
              height="10"
            />
          </a>
        </li>
      </ol>
    </div>
  </div>
  <button class="slider-button-scroll">
    <svg class="slider-arrow-icon">
      <use
        class="slider-button-arrow"
        href="./img/symbol-defs.svg#icon-Vector-down1-1"
      ></use>
    </svg>
  </button>
</div>
