.cart-buttons-container {
  /* margin: 0 auto; */
  position: relative;
  overflow: hidden;
}

.pagination-list {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
  /* max-width: 375px; */
  /* justify-content: center; */
  transition: 0.5s;
  margin: 0 auto;
}

.pagination-list > li > button {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  outline: none;
  border: 1px solid black;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22em;
}

.pagination-list > li > button {
  transform-origin: center top;
  transition: 0.5s;
}

.active {
  background-color: #111111;
  color: white;
  scale: 1;
}

@media screen and (min-width: 768px) {
  .pagination-list > li > button {
    height: 44px;
    width: 44px;
    gap: 8px;
  }
}

@media screen and (min-width: 1440px) {
}
