.page-title {
  margin-bottom: 40px;
}

.cart {
  width: 100%;
  height: 100%;
}

.cart-empty-container {
  width: 100%;
  height: 100%;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  width: 265px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.cart-empty-msg {
  font-size: 14px;
  line-height: 1.29em;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.cart-empty-img {
  width: 265px;
  margin: auto;
}

/* BOOKS LIST */

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: max-content;
  margin-bottom: 20px;
}

/* BOOK CARD */
.cart-item {
  display: flex;
  gap: 14px;
  margin: 0 auto;
  height: 170px;
  max-width: 335px;
  padding: 14px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  /* min-width: 0; */
}

body.dark-theme .cart-item {
  background-color: #111;
  color: white;
}

.cart-item-img {
  width: 100px;
  /* height: 142px; */
  border-radius: 8px;
  flex-shrink: 0;
}

.cart-item-content {
  width: 100%;
  height: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.cart-item-content-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 20px;
}

.cart-item-content-top-left {
  max-width: 144px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  min-width: 0;
}

.cart-item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12em;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cart-item-category {
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: #b4afaf;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cart-item-del-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  background-color: #4f2ee8;
  outline: none;
  border: none;
  border-radius: 50%;
  flex-shrink: 0;
  transition: 0.5s;
}

.cart-item-del-button:hover {
  background-color: rgba(79, 46, 232, 0.8);
  transition: 0.5s;
}

.cart-item-del-button:hover .cart-item-del-button-icon {
  scale: 1.2;
  transition: 0.5s;
}

.cart-item-del-button-icon {
  height: 14px;
  width: 14px;
  fill: #fff;
}

.cart-item-content-middle {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.cart-item-content-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cart-item-content-desc {
  font-size: 14px;
  line-height: 1.29em;
  letter-spacing: -0.04em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cart-item-author {
  font-style: italic;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.cart-items-links {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.cart-items-link {
  flex-shrink: 0;
}

.cart-items-apple {
  filter: grayscale(100%);
}
.cart-items-apple:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.cart-items-amazon {
  filter: grayscale(100%);
}

.cart-items-amazon:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

body.dark-theme .cart-items-amazon {
  filter: brightness(0) invert(1);
}

body.dark-theme .cart-items-apple {
  filter: grayscale(100%);
}

body.dark-theme .cart-items-amazon:hover,
body.dark-theme .cart-items-apple:hover {
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}

/* HELPER */

.is-hidden {
  display: none;
}

/* MEDIA QUERY */

@media screen and (min-width: 768px) {
  .cart-empty {
    width: 349px;
  }
  .cart-empty-img {
    width: 322px;
  }
  .cart-empty-msg {
    font-size: 18px;
    line-height: 1.33em;
  }

  .cart-item {
    height: 213px;
    min-width: 704px;
    padding: 24px;
  }

  .cart-item-img {
    width: 116px;
  }

  .cart-item-content-top-left {
    max-width: 500px;
  }

  .cart-item-del-button {
    height: 34px;
    width: 34px;
  }

  .cart-item-del-button-icon {
    height: 16px;
    width: 16px;
  }

  .cart-items-links {
    align-items: center;
  }

  .cart-items-amazon {
    height: 15px;
    width: 48px;
  }

  .cart-items-apple {
    width: 28px;
    height: 27px;
  }
}

@media screen and (min-width: 1440px) {
  .cart-item {
    height: 213px;
    min-width: 996px;
    padding: 24px;
  }

  .cart-empty-container {
    position: relative;
  }
}
