/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');
@import url('./bestsellers.css');
@import url('./pagination.css');
@import url('./shoppinglist.css');
@import url('./sidebarallcategories.css');
@import url('./sidebarsupport.css');
@import url('./signup.css');
@import url('./modalwindow.css');
@import url('./categorypage.css');
@import url('./helpers.css');
@import url('./fonts.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #f6f6f6;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1392px;
  }
}
