/* =========================Добавляємо 0 перед цифрою================================ */
.slider-ol {
    list-style-type: none;
    counter-reset: item;
}

.slider-li:nth-child(-n+9)::before {
    content: '0' counter(item);
    counter-increment: item;
}

.slider-li:nth-child(n+10)::before {
    content: counter(item);
    counter-increment: item;

}

/* ================================================================================== */

.slider-ol {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.slider-li {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 32px;
}

.slider-p {
    margin: 0;
}

.slider-container {
    border-radius: 16px;
    box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, rgb(79, 46, 232) 18.02733987569809%, rgb(255, 255, 255) 100%);
    width: 335px;
    height: 460px;
    display: flax;
    gap: 16px;
}

.slider {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    color: #fff;
    width: 159px;
    height: 292px;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 40px;
}

.slider-line {
    height: 256px;
    width: 1024;
    border-radius: 16px;
    display: flax;
    position: relative;
    bottom: 0;
    transition: ease 1s;
}

.slider-button-scroll {
    margin-top: 20px;
    margin-left: 152px;
    margin-right: 151px;
    margin-bottom: 20px;
    padding: 0;
    display: flax;
    cursor: pointer;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: none;
}

.slider-suport-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.09091;
    letter-spacing: -0.04em;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 24px;
    padding-left: 40px;
    /* padding-right: 108px; */
}

.slider-arrow-icon {
    display: flex;
    margin: 6px;
    width: 20px;
    height: 20px;

}

@media screen and (min-width: 768px) {

    .slider-suport-title {
        font-size: 24px;
        line-height: 1.16667;
    }

    .slider-container {
        width: 356px;
        height: 474px;
    }

    .slider-button-scroll {
        margin-top: 24px;
        margin-left: 159px;
        margin-right: 159px;
        margin-bottom: 24px;
    }

    .slider-button-scroll {
        width: 38px;
        height: 38px;
    }

    .slider-arrow-icon {
        margin: 8px;
        width: 22px;
        height: 22px;
    }

}

@media screen and (min-width: 1440px) {}